body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: rgb(23, 86, 146);
}
.logo {
    display: flex;
    align-items: baseline;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-left: 40px;
}

.git-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: white;
    margin-left: 10px;
    
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}